.row__poster {
	width: 100%;
	object-fit: contain;
	max-height: 100px;
	transition: transform 450ms;
	margin-right: 10px;
}
.row__posters {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 20px;
}
.row__posters::-webkit-scrollbar {
	display: none;
}
.row__poster:hover {
	transform: scale(1.08);
}
.row__posterLarge{
    max-height: 250px;
}
.row__posterLarge:hover{
    transform: scale(1.09);
}
.row{
    margin-left: 20px;
	color: white;
}


/* pop up video */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: #000;
  padding: 0;
  border-radius: 10px;
  max-width: 800px;
  width: 90%;
}
